<!DOCTYPE html>
<html>
  <head>
    <title>ConversationExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="audio-upload" data-audio-upload-conversation-id-value="<%= @conversation.id %>">
      <button data-action="mousedown->audio-upload#startRecording mouseup->audio-upload#stopRecording touchstart->audio-upload#startRecording touchend->audio-upload#stopRecording">
        Press and Hold to Record
      </button>
      <div data-audio-upload-target="status"></div>
      <!-- clear button -->
      <button data-action="click->audio-upload#clearSession">Clear</button
    </div>
  </body>
</html>
